

<h1>YOUR ORDER</h1>


<p>METHOD: @ViewBag.ThisPizza.Method </p>
<P>Quantity: @ViewBag.ThisPizza.Quantity</P>
<p>Size: @ViewBag.ThisPizza.Size</p>
<p>Crust: @ViewBag.ThisPizza.Crust</p>
<p>Toppings: @ViewBag.ThisPizza.Toppings</p>  




<h4 class="borderDown col-sm-6 text-center">PRICE 20$ </h4>
<h3 class="col-sm-6 text-center"> TOTAL 20$</h3> 



<div class="row buttons">
    <a href="" class="btn btn-danger col-sm-3">START OVER</a> <a href="" class="btn btn-success col-sm-3">PURCHASE</a>
</div>